html, body {
    height: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.bg-translucent {
    background:rgba(255, 255, 255, 0.65);
}

.bg-gradient {
    background: linear-gradient(95deg, #113799, #623abe);
    background-size: 400% 400%;

    -webkit-animation: easyfade 45s ease infinite;
    -moz-animation: easyfade 45s ease infinite;
    -o-animation: easyfade 45s ease infinite;
    animation: easyfade 45s ease infinite;
}

@-webkit-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.bs-container-fluid {
    height: 100vh;
}

.qc-container-fluid {
    height: calc( 100vh - 3.5rem );
    width: 100%;
}

.v-scrollable {
    height: 100%;
    overflow-y: auto;
}

.textEditor {
    background:transparent;
    border: none;
    color: white;
}

.spinnerContainer {
    display: none;
    flex-direction: column;
}

.spinnerText {
    width: auto;
    height: 2rem;
    z-index: 99999;
    position: absolute;
    top: 15%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 1.5em;
}

.spinner {
    display: inherit;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    /* width: 120px;
    height: 120px; */
    animation: spin 2s linear infinite;
    z-index: 99999;
    /* shadow: 0 0 1px transparent; */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.spinnerBar {
    display: inherit;
    width: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }