html, body {
    height: 100%;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

.bg-translucent {
    background:rgba(255, 255, 255, 0.65);
}

.bg-gradient {
    background: linear-gradient(95deg, #5a78c4, #3abe9d);
    background-size: 400% 400%;

    -webkit-animation: easyfade 20s ease infinite;
    -moz-animation: easyfade 20s ease infinite;
    -o-animation: easyfade 20s ease infinite;
    animation: easyfade 20s ease infinite;
}

@-webkit-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes easyfade {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

.qc-height-wrapper {
    height: calc( 100vh - 3.5rem );
    width: 100%;
}

.login-height-wrapper {
    height: 100vh;
    width:100%;
}

.v-scrollable {
    height: 100%;
    overflow-y: auto;
}

#loginPanel {
    display: none;
}

#textEditor {
    background:transparent;
    border: none;
    color: white;
    width: 85%;
}

#welcomeMessage {
    width:500px;
    height:500px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

.spinnerContainer {
    display: none;
    flex-direction: column;
    width:500px;
    height:100px;
    margin:0 auto;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
}

.spinnerText {
    width: auto;
    height: 2rem;
    z-index: 99999;
    margin: auto;
    font-size: 1.5em;
}

.spinnerBar {
    display: inherit;
    width: 50%;
    margin: auto;
}

.spinner {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    top: calc(50% - (100px / 2) );
    left: calc(50% - (100px / 2) );
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}
  
@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
  
@keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
 
.quotesDropdown > a:focus, 
.quotesDropdown > a:hover {
    background-color: lightslategray
}